version: '3.8'

services:
  db:
    image: postgres:13
    container_name: postgres_container
    environment:
      POSTGRES_DB: taxi
      POSTGRES_USER: taxiuser
      POSTGRES_PASSWORD: toxic
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: ["postgres", "-c", "port=5433"]

  redis:
    image: redis:6
    container_name: redis_container
    command: redis-server --requirepass toxic
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build: .
    container_name: django_container
    command:  python taxiunn/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
    - .:/app
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data: